= form_for @account, html: { class: "form form-horizontal account" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@account[:name])
  .form-group
    = f.label :balance, class: 'control-label'
    .controls
      = f.text_field :balance, class: 'form-control', required: true
    = error_span(@account[:balance])
  .form-group
    = f.label :user_id, class: 'control-label'
    .controls
      = f.text_field :user_id, class: 'form-control', required: true
    = error_span(@account[:user_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), accounts_path, :class => 'btn btn-default'
